*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, #4dd583,#f3fff9, #ffffff,#fff)
}
.main{
    width: 80%;
    margin: 0 auto;

}
h1{
   font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    color: #24272b;
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 20px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color: #24272b;
    line-height: 25px;
}
.pl{
    padding-left: 100px;
}
.pr{
    padding-right: 100px;
}
.pt{
    padding-top: 120px;
}
.pb{
    padding-bottom: 80px;
}

#header{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow:hidden;
    background-image: url(./img/firm2-slider-top-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
nav{
    width: 90%;
    margin: 20px auto;
    position: sticky;
    display:flex;
    text-align: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width:120px;
}
.nav-links{
    flex: 1;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    padding:5px;

}
.nav-links ul li a{
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;

}
.active{
    color: #5FE39C
}
.header{
    display: flex;
    width: 100%;
    position:relative;
}
.text-area{
    width:500px;
}
.img-area{
  position: absolute;
right: 105px;
top: -70px;
}
.img-area img{
    width:600px;
    height: 600px;
    /* position: absolute; */
    /* top:0; */
}
.text-color{
    color: #5fe39c;
}
.linkbtn{
text-decoration: none;
background: #c7b9b9;
padding: 10px 40px;
border-radius: 50px;
display: inline-block;
color: #3b3b39;
font-weight: 500;
font-family: 'Montserrat', sans-serif;
margin-top: 25px;
}
.linkbtn img{
    padding-left: 20px;
}
.flixible{
    display: flex;
    width: 100%;
}
#info{
    width: 100%;
    padding-left: 25px;
}
.info-text-area{
    padding: 0 80px 0 40px;
    text-align: left
}
.flixible h3{
 padding-bottom: 10px;
 color: #24272b;
}

.half-width{
    width:50%;
}
.half-width h2{
    padding-bottom: 20px;
    padding-right: 100px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
}

#incame{
    width: 100%;
    height: auto;
    position: relative;
    overflow:hidden;
    background-image: url(./img/firm2-chart-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
#incame h2{
    font-size: 28px;
    line-height: 38px;
    color: #24272b;
    font-weight: 700;
    width: 550px;
    margin: 0 auto;
    padding-bottom: 30px;
}
#incame .lp{
    width: 60%;
    margin: 20px auto;
    
    
}
.white{
    color: white;
}
#write{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow:hidden;
    background-image: url(./img/firm2-home-cta-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#write h2{
    font-size: 28px;
    line-height: 38px;
    color: #24272b;
    font-weight: 700;
}

 footer h3{
    font-size:18px !important;
    line-height: 35px !important;
    font-weight: 700 !important;
    color: #4dd583!important;
    }
footer ul li{
    list-style-type: none;
    font-size: 14px !important;
    line-height: 36px !important;
    font-weight: 400;
    color:#24272b;

}

.icon-area ul li{
    display: inline-block;
    padding: 5px;
    font-size: 50px !important;
     
}
.icon-area ul li a{
    color:#8f8f86
}